/Recommenda.API/obj/Debug/net10.0/Recommenda.API.AssemblyInfo.cs
/Recommenda.API/obj/Debug/net10.0/Recommenda.API.AssemblyInfoInputs.cache
/Recommenda.API/obj/Debug/net10.0/Recommenda.API.csproj.AssemblyReference.cache
/Recommenda.API/obj/Debug/net10.0/Recommenda.API.GeneratedMSBuildEditorConfig.editorconfig
/Recommenda.Application/obj/Debug/net10.0/Recommenda.Application.AssemblyInfo.cs
/Recommenda.Application/obj/Debug/net10.0/Recommenda.Application.AssemblyInfoInputs.cache
/Recommenda.Application/obj/Debug/net10.0/Recommenda.Application.GeneratedMSBuildEditorConfig.editorconfig
/Recommenda.Domain/obj/Debug/net10.0/Recommenda.Domain.AssemblyInfo.cs
/Recommenda.Domain/obj/Debug/net10.0/Recommenda.Domain.AssemblyInfoInputs.cache
/Recommenda.Domain/obj/Debug/net10.0/Recommenda.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Recommenda.Infrastructure/obj/Debug/net10.0/Recommenda.Infrastructure.AssemblyInfo.cs
/Recommenda.Infrastructure/obj/Debug/net10.0/Recommenda.Infrastructure.AssemblyInfoInputs.cache
/Recommenda.Infrastructure/obj/Debug/net10.0/Recommenda.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Recommenda.Domain/obj/rider.project.model.nuget.info
/Recommenda.Infrastructure/obj/rider.project.model.nuget.info
